<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Test Vue App</title>
        <link rel="stylesheet" href="css/styles.css" />        
    </head>
    <body>
        <div id="app" class="container">
            <h1>
                <!--11-1.イベント追加-->
                <button @click="purge">一括削除</button>
                 ToDo管理ツール
                 <!--11-3.filter処理重複削除
                    <span class="info">({{remaining}}/{{todos.length}})</span>-->
                    <span class="info">({{remaining.length}}/{{todos.length}})</span>                    
            </h1>
            <ul>
                <li v-for="(todo,index) in todos">
                    <input type="checkbox" v-model="todo.isDone">
                    <span :class="{done: todo.isDone}">{{todo.title}}</span>
                    <span @click="deleteItem(index)" class="command">[x]</span>
                </li>
                <li v-show="!todos.length">ToDoが存在しません</li>
            </ul>
            <form @submit.prevent="addItem">    
                <input type="text" v-model="newItem">
                <input type="submit" value="Add">
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>