<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>My Vue App</title>
        <link rel="stylesheet" href="css/styles.css" />        
    </head>
    <body>
        <div id="app" class="container">
            <h1> My Todos</h1>
            <ul>
                <!-- 6-1.こうするとindexを取得できる
                    <li v-for="todo in todos">
                -->
                <li v-for="(todo,index) in todos">
                    {{todo}}
                <!--6-1.イベントを仕込むのでv-onでも
                    いいが@で省略可能
                    deleteItemメソッドを用意するが
                    何番目の要素を消すのか指定する必要がある
                -->
                <!-- 6.3.見た目をよくする
                    <span @click="deleteItem(index)">[x]</span>
                -->
                <span @click="deleteItem(index)" class="command">[x]</span>
                </li>
            </ul>
            <form @submit.prevent="addItem">    
                <input type="text" v-model="newItem">
                <input type="submit" value="Add">
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>